@import "../../../colors.css";

.nav-item {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    transition: 500ms;
}

.active {
    background-color: var(--bg-color);
    text-shadow: 0 0 5px var(--text-color);
}

.nav-link {
    display: grid;
    place-items: center;
    font-size: large;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
